:root {
	--palette-color1: #00223c;
	--palette-color1: #2b7198;
	--palette-color1: #58d7de;
	--palette-color1: #fbb3f1;
}

html {
	background: url(/images/background5.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

main {
	height: 100%;
}

header {
	/* line-height: 0.5rem !important; */
}

/* #volume {
	background: url(/images/home-hero.PNG);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
} */
