:root {
	--palette-color1: #00223c;
	--palette-color1: #2b7198;
	--palette-color1: #58d7de;
	--palette-color1: #fbb3f1;
}

html {
	background: url(/images/background5.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	font-family: "Roboto Mono", monospace;
}

.page-container {
	display: grid;
	min-height: 100vh;
	justify-content: space-evenly;
}

.icon-container {
	margin: 20px 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.icon {
	font-size: 4rem;
	flex-direction: row;
	color: #58d7de;
}

#volume {
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/images/home-hero.PNG);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
